/* for mobile */

@media screen and (max-width:600px) {

    /* banner section start */
    .banner-container {
        margin: 20px 20px;
        width: 90%;
        background-position: cover;
        object-fit: cover;
    }

    .banner-container h1 {
        padding-top: 50px;
        font-size: 20px;
    }

    .banner-container p {
        font-size: 13px;
        width: 90%;
    }

    .banner-item {
        flex-direction: column;
        gap: 10px;
    }

    /* banner section end */
    /* popular tour section start */

    .popular-tour {
        margin: 20px;
        flex-direction: column;
        gap: 1.5rem;
    }

    .tour-img img {
        object-fit: cover;
        background-position: cover;
        width: 99%;
    }
    /* popular tour section end */
}