/* for mobile */

@media screen and (max-width:600px) {

    .section-title {
        font-size: 1.25rem;
    }

    .section-description {
        width: 309px;
    }

    /* nav section start */

    .logo {
        margin-left: 30px;
    }

    .nav-content .link {
        display: none;
    }

    .nav-content .responsive-icon {
        display: block;
        margin-right: 30px;
        font-size: 1.5rem;
    }

    .logo .logo-img img {
        width: 30px;
    }

    .logo .logo-title {
        font-size: 1rem;
    }

    /* nav section start */

    /* banner section start */

    .banner-container {
        margin: 20px 20px;
        width: 90%;
        background-position: cover;
        object-fit: cover;
    }

    .banner-container h1 {
        padding-top: 50px;
        font-size: 20px;
    }

    .banner-container p {
        font-size: 13px;
        width: 90%;
    }

    .banner-item {
        flex-direction: column;
        gap: 10px;
    }

    /* banner section end */
    /* popular tour section start */

    .popular-tour {
        margin: 20px;
        flex-direction: column;
        gap: 1.5rem;
    }

    .tour-img img {
        object-fit: cover;
        background-position: cover;
        width: 99%;
    }

    /* popular tour section end */

    /* destination section start */
    .tour-info ul li {
        margin-left: 5px;
    }

    .destination-img {
        flex-direction: column;
        gap: 1rem;
    }

    .destination-img img {
        width: 350px;
        height: 176px;
    }

    .destination-img div h4 {
        font-size: 1.25rem;
        font-weight: 600;
    }

    /* destination section end */

    /* why choose us section start */
    .choose-us-main {
        margin: 20px;
    }

    .choose-us-content h3 {
        font-size: 1.25rem;
    }

    .choose-us-card {
        grid-template-columns: repeat(1, 1fr);
    }

    .choose-us-card .card-3 {
        margin: 0;
    }

    .choose-us-card .card {
        padding: 20px;

    }

    .choose-us-card h4 {
        font-size: 1.2rem;
    }

    .choose-us-card p {
        font-size: 14px;
    }

    .choose-us-card .icon i {
        font-size: 1rem;
    }

    /* why choose us section end */

    /* discount section start */
    .discount-container {
        width: 335px;
        margin: 0 auto;
    }

    .discount-card,
    .discount-card-middle {
        padding: 5px;
        text-align: center;
    }

    .discount-card-middle,
    .discount-card {
        margin-top: 165px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .discount-card-main,
    .discount-card-main-middle {
        object-fit: cover;
        background-position: center;
        background-size: cover;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .discount-container .icon {
        gap: 10px;
    }
    /* discount section end */

    /* video section start */
    .video-main {
        margin: 20px;
        flex-direction: column;
        gap: 1.5rem;
    }

    .video-main ul {
        margin-left: 10px;
    }

    .video-main ul li {
        width: 300px;
    }

    .video-main h3 {
        width: 70%;
    }

    .video-main video {
        width: 335px;
        height: 200px;
    }

    .main-video h4 {
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        width: 50%;
        top: 100px;
        left: 150px;
    }

    /* video section end */

    /* newsletter section start */
    .newsletter-main {
        margin: 20px;
        flex-direction: column;
    }

    .newsletter-content {
        width: 100%;
    }

    .newsletter-main p {
        width: 270px;
    }

    .newsletter-main input {
        width: 288px;
    }

    .newsletter-img img {
        width: 100%;
    }

    .newsletter-img .offer {
        display: none;
    }

    /* newsletter section end */

    /* footer start */
    .footer-content p {
        width: 287px;
    }

    /* footer end */
}